{% extends 'base.html' %}

{% block content %}

<div class="question">
	<div class="question-info">
		<h2>
			<a class="question-title" href="{{ question.get_absolute_url }}">{{ question.title}}</a>
		</h2>
	</div>

	<div id="question-respond" class="respond row">
		<div class="span1">
  			<a class="respond-image" href="{% url profile_detail user.username %}">
  				<img src="https://graph.facebook.com/{{ user.userprofile.facebook_id}}/picture"/>
  			</a>			
		</div>
		<div class="span8">
			<form method="post" action="." class="form-stacked">
				{% csrf_token %}
				{{ aform.title.errors }}
				<div class="clearfix">
					{{ aform.text}}
				</div>
				<div class="clearfix">
				    <input type="submit" value="Update" name="update" class="btn primary"/>
				    <input type="button" value="Cancel" name="cancel" class="btn" onclick="window.location = '{{ question.get_absolute_url }}' " />
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}