.tactile_noise{background: url(../images/textures/tactile_noise.png) repeat; }
.triangles{ background: url(../images/textures/triangles.png) repeat; }
.fancy_deboss{ background: url(../images/textures/fancy_deboss.png) repeat; }
.whitey{ background: url(../images/textures/whitey.png) repeat; }
.subtle_freckles{ background: url(../images/textures/subtle_freckles.png) repeat; }
.vichy{ background: url(../images/textures/vichy.png) repeat; }
.black-Linen{ background: url(../images/textures/black-Linen.png) repeat; }
.square_bg{ background: url(../images/textures/square_bg.png) repeat; }
.circles{ background: url(../images/textures/circles.png) repeat; }
.crossline_noise{ background: url(../images/textures/crossline_noise.png) repeat; }
.white_texture{ background: url(../images/textures/white_texture.png) repeat; }