{% load facebook_tags %}
{% load twitter_tags %}
	
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Cocorina{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/global.css" />
    <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	{% block extra_head %}{% endblock %}
</head>
<body>
	 <div class="container_12">
        <div id="nav_bg">
            <div class="grid_4"><p id="logo"><a href="{% url g-index %}">Cocorina</a></p></div>
            <div class="grid_8">
                <ul id="nav">
                    {% if user.is_authenticated %}                    
                    	<li><a href="{% url profile_detail user.username %}">Profile</a></li>
                    	<li><a href="{% url user_list %}">Fresh Faces</a></li>
                        <li><a href="{% url settings %}">Settings</a></li>
                        <li><a href="{% url social_logout %}">Logout</a></li>
                    {% else %}
						<li>{% facebook_button %}</li>
						<li>{% twitter_button %}</li>
                    {% endif %}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
	    {% block messages %}
	        {% if messages %}
	            <ul class="messages grid_12">
	                {% for message in messages %}
	                <li><span>{{ message }}</span></li>
	                {% endfor %}
	            </ul>
	        {% endif %}
	    {% endblock %}
        <div id="content" class="grid_12">
            {% block main_content %}{% endblock %}
        </div>
        <div class="clear"></div>
    </div>
    <ul id="footer">
        <li><a href="{% url about %}">About</a></li>
        <li><span>&copy; 2084 Cocorina</span></li>
    </ul>
	{% block extra_body %}{% endblock %}
	{% facebook_js %}
</body>
</html>